:root {
    --font: "Source Sans Pro", sans-serif;
    --font-monospace: "Source Code Pro", "Hack", monospace;
    --bg-color: #F1F5F5;
    --font-color: #0E1A0A;
    --link-color: #2f7557;
    --anti-link-color: #752f2f;
    --main-color: #50b98c;
    --sel-color: #99d6bc;
    --mono-color: #d8e9e2;
    --min-highlight: #ecefec;
    --header-height: 2.5rem;
    --header-padding: 1ch;
    --header-top-padding: var(--header-padding);
    --body-padding: 1rem;
    --body-width: calc(100vw - 4 * var(--body-padding));
}

html {
    font-family: var(--font);
    color: var(--font-color);
    background-color: var(--bg-color);
}

body {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 150%;
    font-size: 1rem;
    padding: 0 var(--body-padding);
    width: var(--body-width);
}

::selection {
    background-color: var(--sel-color);
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
    padding: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--link-color);
    border-radius: 20px;
    border: 3px solid var(--bg-color);
}

a, a:hover, a:visited, a:active {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    font-style: italic;
}

h2 a {
    page-break-before: avoid;
}

h2 a:nth-of-type(2), h3 a:nth-of-type(2), h4 a:nth-of-type(2)  {
    padding-left: 1em;
}

h2 a:hover, h3 a:hover, h4 a:hover {
    font-style: normal;
}

a:active {
    color: var(--main-color);
}

img.badge {
    height: 1.5em;
}

header {
    height: calc(var(--header-height) + 2 * var(--header-padding));
    line-height: var(--header-height);
    position: sticky;
    /* width: var(--body-width); */
    top: 0;
    font-size: 1.3rem;
    text-align: right;
    float: right;
    /* background-color: var(--bg-color); */
    padding-top: var(--header-top-padding);
}

#header {
    display: inline-flex;
    justify-content: flex-end;
    /* float: right; */
}

#header .item {
    margin: calc(var(--header-padding) / 2) var(--header-padding) calc(var(--header-padding) * 1.5);
    max-width: 300px;
    /* width: 12ch; */
    padding: 0 var(--header-padding);
    text-align: center;
    background-color: var(--link-color);
    color: var(--bg-color);
    /* border-radius: 2em; */
    box-sizing: border-box;
    box-shadow: -3px 3px 3px 0px var(--sel-color);
}

#header .item:last-of-type {
    /* margin-right: 3rem; */
}

#top {
    margin-top: calc(-1 *var(--header-height) + 2 * var(--header-padding));
}

.page {
    padding-top: calc(var(--body-padding) + var(--header-top-padding));
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
}

h1, h2, h3 {
    margin: 1em 0 1.5em;
    padding-top: 0.5em;
}

h1 {
    margin-top: 0;
}

h3 {
    margin-left: 1ch;
}

code {
    font-family: var(--font-monospace);
    font-size: 95%;
    background-color: var(--mono-color);
}

/* code::before, code::after {
    content: "⠀";
} */

img {
    max-height: 300px;
    margin: 0 auto;
    max-width: 90vw;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.no {
    color: var(--anti-link-color);
}

.yes {
    color: var(--link-color);
}

.hide {
    display: none;
}

.license {
    white-space: pre-wrap;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.license ul {
    white-space: normal;
    text-align: left;
    height: min-content;
    margin-top: 0;
}

.license li {
    margin-left: 2em;
}

#printtext {
    font-size: 80%;
}

#md table {
    min-width: 20vw;
    margin-left: 2em;
    margin-right: 2em;
}

#md table td:first-of-type {
    font-family: var(--font-monospace);
    white-space: nowrap;
    padding-right: 0.5ch;
    border-collapse: collapse;
    border-spacing: 0;
}

#md table tr:nth-child(2n), #csv-out-body .entry:nth-of-type(2n) {
    background-color: var(--min-highlight);
}

/* #csv-out {
    margin: 2em auto;
    overflow: scroll;
    max-width: var(--body-width);
    width: var(--body-width);
}

#csv-out tr {
    height: 2em;
}

#csv-out th {
    cursor: pointer;
} */

#csv-out .highlighted {
    background-color: var(--sel-color);
}

#dict-head {
    margin-bottom: 1.5em;
    line-height: 2.5em;
    text-align: center;
}

#dict-head input, #dict-head select, #dict-head button {
    margin-left: 1ch;
    margin-right: 1em;
    border-style: ridge;
    border-width: 2px;
    padding: 0.5ch 1ch;
    background-color: white;
}

#dict-head select, #dict-head button {
    cursor: pointer;
}

#dict-head input {
    width: 10em;
}

#csv-out-body .entry {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1ch;
    margin: 0 1em;
}

#csv-out-body .entry:nth-of-type(2n) {
    box-shadow: 0px 0px 10px 10px var(--min-highlight);
}

#csv-out-body .entry:nth-of-type(2n+1) {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

#csv-out-body .entry>div {
    margin-bottom: 0.5em;
}

#csv-out-body .pos {
    font-family: var(--font-monospace);
    /* background-color: var(--mono-color); */
    margin-left: 2em;
    margin-right: 1em;
}

#csv-out-body .word {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 1ch;
}

#csv-out-body .noun {}

#csv-out-body .verb {}

#csv-out-body .mod .pos::before, #csv-out-body .con .pos::before, #csv-out-body .pre .pos::before {
    content: "⠀";
}

#csv-out-body .mod {}

#csv-out-body .con {}

#csv-out-body .pre {}

#csv-out-body .note {
    margin-top: 0.7em;
    margin-left: 1em;
    font-style: italic;
}

@media print {
    :root {
        --min-highlight: white;
        --mono-color: white;
    }
    html {
        background-color: white !important;
        color: black !important;
    }
    header {
        display: none;
    }
    .page, h1 {
        margin-top: 0;
    }
    .page:not(:first-child) {
        page-break-before: always;
    }
    .noprint {
        display: none;
    }
    .yesprint {
        display: block;
    }
    h1, h2, h3 {
        margin: initial;
        width: 90%;
        padding-top: 0;
    }
    h2 a, h3 a, h4 a, h5 a, h6 a {
        display: none;
    }
    h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
    code {
        padding: 0 0.3ch;
    }
    a {
        text-decoration: underline;
    }
    .entry {
        page-break-inside: avoid;
    }
    .license {
        text-align: left;
        margin: 0;
    }
    #printtext {
        display: inline;
    }
    #dictstatus {
        display: none;
    }
    #csv-out-body .entry:not(:first-of-type) {
        border-top: 1px solid black;
    }
    #csv-out-body .entry:nth-of-type(2n) {
        box-shadow: none;
    }
    #csv-out-body .entry:nth-of-type(2n+1) {
        margin-bottom: inherit;
        margin-top: inherit;
    }
    #csv-out-body .entry {
        background-color: white;
        border-radius: 0;
        box-shadow: none;
    }
    #dict-head {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    header {
        position: sticky;
    }

    #header {
        flex-wrap: wrap;
    }

    .page {
        padding-top: calc(var(--body-padding) + var(--header-top-padding) + 1ch);
    }

    h1 {
        margin-top: 1em;
    }

    h2 a:nth-of-type(2), h3 a:nth-of-type(2), h4 a:nth-of-type(2) {
        visibility: hidden;
        padding-left: 0;
    }

    #print {
        display: none;
    }
}